$green-color: #137333;
$light-green-color: #e6f4ea;

$red-color: #a50e0e;
$light-red-color: #fce8e6;

$secondary-color: #3c4043;
$primary-font-color: #202124;
$gray-color: #80868b;
$hover-color: #f8f9fa;
$border-color: #dadce0;

$warning-color: #ffe08a;
$error-color: #f14668;
$success-color: #48c78e;

$skeleton-color: #aaa;
